{{ "s-featured-products-popup.css" |  asset_url | stylesheet_tag }}
<script src="{{ "s-featured-products-popup.js" |  asset_url }}" defer></script>

<s-featured-products-popup class="s-featured-products-popup" data-show-popup="{{ section.settings.is_enabled }}" data-delay="{{ section.settings.delay }}000" data-show-once="{{ section.settings.show_once }}">
  <div class="s-featured-products-popup__overlay js-featured-products-popup__overlay js-featured-products-popup__close"></div>

  <div class="s-featured-products-popup__container--outer js-featured-products-popup__popup">
    <div class="s-featured-products-popup__container--inner">

      <div class="s-featured-products-popup__close js-featured-products-popup__close">
        {% render 'icon-close' %}
      </div>

      {% if section.settings.image != blank %}
        <div class="s-featured-products-popup__image">
          <img src="{{ section.settings.image | img_url: 'master' }}" width="" height="">
        </div>
      {% endif %}
      <div class="s-featured-products-popup__content-wrapper">
        {% if section.settings.subheading != blank %}
          <h3 class="s-featured-products-popup__subheading">{{ section.settings.subheading }}</h3>
        {% endif %}
  
        {% if section.settings.heading != blank %}
          <h2 class="s-featured-products-popup__heading">{{ section.settings.heading }}</h2>
        {% endif %}
  
        {% assign product_blocks = section.blocks | where: 'type', 'product' %}
        {% for block in product_blocks %}
          {% liquid
            if block.settings.product != blank
             assign product = block.settings.product
            endif
          %}
  
          {% if product %}
            <div 
              class="s-featured-products-popup__product-wrapper js-featured-products-popup__product"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
            >
              <a href="{{ product.url }}" class="s-featured-products-popup__product-image">
                <img src="{{ product.featured_image | img_url: 'master' }}" width="70px" height="70px">
              </a>
  
              <div class="s-featured-products-popup__product-info">
                <div class="s-featured-products-popup__sku">
                  {{ "sections.featured-products-popup.sku" | t: sku: product.sku }}
                </div>
  
                <div class="s-featured-products-popup__product-title">
                  {{ product.title }}
                </div>
  
                <div class="s-featured-products-popup__product-title">
                  {% for option in product.selected_or_first_available_variant.options %}
                    {% unless option == "Default Title" %}
                      {{ option }}
                    {% endunless %}
                  {% endfor %}
                </div>
  
                <div class="s-featured-products-popup__product-price-wrapper">
                  {% if product.compare_at_price > product.price %}
                    <div class="s-featured-products-popup__price">
                      {{ product.price | money_with_currency }}
                    </div>
                    <div class="s-featured-products-popup__compare-at-price">
                      {{ product.compare_at_price | money_with_currency }}
                    </div>
                    {% else %}
                    <div class="s-featured-products-popup__price">
                      {{ product.price | money_with_currency }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
  
        <div class="s-featured-products-popup__button js-featured-products-popup__cta">
          <span class="s-featured-products-popup__cta js-featured-products-popup__add_to_cart">
            {{ "sections.featured-products-popup.add_to_cart" | t }}
            {% render 'icon-cart' %}
          </span>
          <span class="s-featured-products-popup__cta js-featured-products-popup__success is-hidden">
            {{ "sections.featured-products-popup.success_message" | t }}
            {% render 'icon-checkmark' %}
          </span>
        </div>
      </div>
    </div>
  </div>
</s-featured-products-popup>

{% schema %}
  {
    "name": "Featured products popup",
    "settings": [
      {
        "type": "header",
        "content": "Popup settings"
      },
      {
        "type": "checkbox",
        "id": "is_enabled",
        "label": "Show popup",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Popup image"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "delay",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Popup delay",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "show_once",
        "label": "Show only one per customer",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "Product",
        "type": "product",
        "limit": 2,
        "settings": [
          {
            "type": "header",
            "content": "Product"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}